meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/src/styles/home.scss")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
// defer boom
link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap", rel="preload", as="style", onload="this.onload=null;this.rel='stylesheet'")
noscript
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap")
// 
script(src="/src/scripts/home.js")
script(src="/src/scripts/global.js")