@use "global" as *;

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::webkit-scrollbar {
    display: none;
  }
}

.screens {
  position: absolute;
  top: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::webkit-scrollbar {
    display: none;
  }
}

.screen {
  padding: 100px;
  display: inline-block;
  width: 100vw;
  height: vh(100);
  & .preview {
    position: absolute;
    top: 10%;
    height: calc(80% - 85px);
    left: 30%;
    width: 50%;
    border-radius: 15px;
    background-color: lightgray;
    z-index: -1;
    /* remove later */
    padding: 40px;
    /* */
  }
  &.two {
    text-align: right;
    & .smol {
      left: unset;
      right: 100px;
    }
  }
}

nav {
  height: 85px;
  text-align: right;
  & a {
    z-index: 2;
    display: inline-block;
    position: relative;
    top: 42.5px;
    right: 42.5px;
    transform: translateY(-50%);
    text-decoration: none;
    color: black;
    &.login {
      /* margin */
      right: 85px;
    }
    &.register {
      color: white;
      background-color: $colors-main;
      padding: 10px;
      border-radius: 5px;
      top: 52.5px;
    }
  }
}

h1 {
  font-size: 150px;
  margin: 10px;
}

.smol, .really-smol {
  font-size: 60px;
  position: relative;
  left: 100px;
  &.really-smol {
    font-size: 1.5vw;
  }
}

.reveal {
  position: relative;
  top: 300px;
  transition: 1.5s;
  transition-property: top, opacity;
  opacity: 0;
  &.active {
    opacity: 1;
    top: 0px;
  }
}

.big-register {
  font-weight: 0;
  color: black;
}

.down {
  pointer-events: none;
  font-size: 4vw;
  position: absolute;
  top: calc(vh(100) - 6vw);
  right: 40px;
  transition: 0.3s opacity;
  &.nope {
    opacity: 0;
  }
}