doctype html
html(lang="en")
  head
    include /includes/head
    title tinymedia
    meta(name="description", content="tinymedia is a nice, simple social media site")
  body
    nav
      a.login(href="login")
        span log in
      a.register(href="register")
        span sign up
    .screens
      .reveal.screen.one.active
        p.smol introducing...
        h1.big-boi tinymedia
        br
        p.really-smol a nice, simple social media site
        .preview [ preview image goes here ]
      .down &#x2304;
      .reveal.screen.two
        .preview [ another preview goes here ]
        p.smol our #1 rule: 
        h1 don't be toxic.
      .reveal.screen.three
        p.smol &nbsp;
        h1.big-boi get started
        // big register except smol
        br
        a.big-register.smol(href="register") sign up now!
        .preview [ the last preview goes here ]